.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botonCarrito {
  width: 3rem;
  height: 3rem;
  margin-right: 16px;
  position: relative;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.card-img-top {
  width: 18rem;
}
.nav-item {
  color: white;
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  align-content: center;
}

.brand {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.cards {
  display: flex;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 16px;
}

.botonvm {
  margin-left: 10px;
}

.imagen-6klPOWYjneoaoEdS0eBi {
  width: 50%;
}
